:root {
    overflow-x: hidden;
    --text-primary-color: #005766;
    --border-primary-color: #005766;
    --btn-primary-color: #005766;
    --bg-primary-color: #005766;
    --text-white-color: #ffffff;
    --bg-white-color: #ffffff;
    --text-secondary-color: #7d7d7d;
    --text-darkgrey-color: #0e1718;
    --bg-lightgreen: #c2d9e6;
    --text-lightgreen: #c2d9e6;
    --bg-palegreen: #e7faff;
    --bg-grey: #f6f6f6;
    --bg-darkgreen: #008eb0;
    --border-darkgreen: #008eb0;
    --text-darkgreen: #008eb0;
    --border-card: #c4c4c4;
    --bg-transparent: transparent;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: Proxima-Nova-Bold;
    src: url(../font/Proxima-Nova-Bold.ttf);
}

@font-face {
    font-family: ProximaNova-Regular;
    src: url(../font/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: Proxima-Nova-Thin;
    src: url(../font/Proxima-Nova-Thin.ttf);
}

section {
    padding: 6.25rem 0;
}

section:nth-child(2n+1),
.bg--secondary,
.accordion-button,
.accordion-body {
    background-color: var(--bg-grey);
}

.text--primary {
    color: var(--text-primary-color);
}

.text--secondary {
    color: var(--text-secondary-color)
}

.text--accent {
    color: var(--text-darkgreen);
}

.text--dark {
    color: var(--text-darkgrey-color);
}
.btn--hover:hover{
    color: var(--text-white-color) !important;
    text-decoration: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn--primary {
    background-color: var(--bg-primary-color);
    color: var(--text-white-color) !important;
}

.btn--primary:hover {
    background-color: var(--bg-transparent) !important;
    color: var(--text-primary-color) !important;
    border: 1px solid var(--border-primary-color);
}

.btn--primary-outline {
    border: 1px solid var(--border-primary-color);
    background-color: var(--bg-white-color);
    color: var(--text-primary-color) !important;
}

.btn--primary-outline:hover {
    border: 1px solid var(--border-primary-color);
    background-color: var(--bg-primary-color) !important;
    color: var(--text-white-color) !important;
}

.btn--accent {
    background-color: var(--bg-lightgreen);
    color: var(--text-primary-color);
}

.btn--accent:hover {
    background-color: var(--bg-darkgreen);
    color: var(--text-white-color);
}

.bg--palegreen {
    background-color: var(--bg-palegreen);
}

.bg--darkgreen {
    background-color: var(--bg-darkgreen);
}

.text--lightgreen {
    color: var(--text-lightgreen);
}

.ls-sm {
    letter-spacing: .035rem;
}

.rounded-md {
    border-radius: .75rem;
}

.font-bold {
    font-family: Proxima-Nova-Bold;
}

.font-regular {
    font-family: ProximaNova-Regular;
}

.font-thin {
    font-family: Proxima-Nova-Thin;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

ul,
li {
    list-style-type: none;
}


/* || General styles */

.navbar-nav .nav-link.active {
    color: var(--text-primary-color) !important;
    font-weight: 700;
}

.title-xl:before {
    font-size: 124px;
}

.navbar-nav .nav-link.active {
    color: var(--text-primary-color) !important;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--text-secondary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-secondary-color);
}

.mr-4 {
    margin-right: 1rem !important;
}

.title:not([class*='slide-']):not([class*='fade-']):before {
    transform: translateX(-50%);
    opacity: 0.06;
}

.title {
    position: relative;
}

.title::before {
    background-image: linear-gradient(180deg, #305082 0%, #97afd5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    width: 90%;
    margin: 0px auto;
}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-slide img {
    width: 100% !important;
    margin: 0 4rem;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}

.slick-list.draggable {
    padding: 0 !important;
}

.slick-slider {
    margin-bottom: 0 !important;
    margin-top: 5rem;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: auto !important;
    color: var(--text-darkgrey-color) !important;
    background: white;
    border: 1px solid var(--border-card);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
}

.nav-justified .nav-item,
.nav-justified>.nav-link {
    flex-basis: inherit !important;
    flex-grow: inherit !important;
    margin: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--text-white-color) !important;
    background-color: var(--bg-darkgreen) !important;
    border: 1px solid var(--border-darkgreen);
}

.token__card--border {
    border: 1px solid var(--border-card);
}

.token__card--border:hover {
    /* background: var(--bg-palegreen) !important; */
    /* box-shadow: 0px 5px 15px rgb(0 0 0 / 20%); */
    transform: scale(1.02);
    border: 2px solid var(--border-primary-color);
    /* color: var(--text-primary-color) !important; */
    transition: transform .3s;
}

.token__info {
    padding: 1rem 0 0;
}

.token__info>p {
    color: var(--text-secondary-color);
}

.row-eq-height>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.timeline-item {
    position: relative;
    padding: 0 15px 54px;
}

.timeline-done:before,
.timeline-done:after {
    opacity: 1 !important;
}

.timeline-item:before {
    left: 0;
}

.timeline-item:before,
.timeline-item:after {
    position: absolute;
    top: 41px;
    width: 50%;
    height: 4px;
    content: '';
    background: #008eb0;
    opacity: 0;
}

.timeline-done .timeline-date:before {
    opacity: 1;
}

.timeline-date:before {
    border: 2px solid #008eb0;
}

.timeline-date:before {
    margin-left: -9px;
    margin-bottom: -5px;
    height: 15px;
    width: 15px;
    background: #fff;
    opacity: 0;
}

.timeline-date:after,
.timeline-date:before {
    position: absolute;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    content: '';
}

.timeline-date:before {
    margin-left: -13px;
    margin-bottom: -8px;
    height: 15px;
    width: 15px;
    border: 2px solid #008eb0;
    opacity: 1;
}

.timeline-date:after {
    background: #fff;
}

.timeline-date:after {
    margin-left: -4px;
    height: 10px;
    width: 10px;
    background: #fff;
}

.timeline-date:after,
.timeline-date:before {
    position: absolute;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    content: '';
}

.timeline-item:before,
.timeline-item:after {
    position: absolute;
    top: 40px;
    width: 50%;
    height: 5px;
    content: '';
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.timeline-item {
    position: relative;
    padding: 0 15px 54px;
}


/* .timeline-row-done.timeline-row-odd:after {
    right: -15px;
} */


/* .timeline-row-done:after {
    border-color: #008eb0;
} */

.timeline-row:after {
    border-color: rgba(186, 188, 195, 0.3);
}

.timeline-row-odd:after {
    right: -17px;
    border-left: 0;
    /* border-radius: 0 20px 20px 0; */
}

.timeline-row-done:after {
    position: absolute;
    top: 41px;
    width: 15px;
    height: calc(100% + 3px);
    content: '';
    border: 3px solid #008eb0;
}

.timeline-row:after {
    position: absolute;
    top: 41px;
    width: 15px;
    height: calc(100% + 3px);
    content: '';
    border: 3px solid #a7010c;
}

.timeline-row-even:after {
    left: -15px;
    border-right: none;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.timeline-date {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    color: #005766;
    letter-spacing: .1em;
    display: block;
    padding-bottom: 12px;
    position: relative;
    z-index: 2;
    text-align: left;
}

.timeline-title {
    color: var(--text-darkgrey-color);
    margin-bottom: 4px;
    padding-top: 48px;
    position: relative;
}

.timeline-row:before {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    /* border-bottom: 1px dashed rgba(186, 188, 195, 0.3); */
}

.timeline-row:before {
    border-bottom-color: #a7010c;
}

.timeline-row:before {
    top: 41px;
    border-bottom: 3px solid #a7010c;
}

.timeline-row:before {
    top: 41px;
}

.timeline-row-done:after {
    border-color: #008eb0;
}


/* .timeline-row-done.timeline-row-odd:after {
    right: -15px;
} */

.timeline-row-odd:after {
    border-left: none;
}

.timeline-row-odd:after {
    right: -15px;
    border-left: 0;
    /* border-radius: 0 20px 20px 0; */
}

.roadmap section:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
}

.timeline-info {
    text-align: left;
}

.timeline-title {
    padding-left: 2rem;
    text-align: left;
    margin-bottom: 18px;
    line-height: 24px;
}

.timeline-row-last:after {
    display: none;
}

.timeline-row-last::before {
    width: 66.66666667%;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--border-primary-color);
    text-underline-offset: 5px;
}

.timeline-date:after {
    background: transparent;
}

.timeline-title:before {
    border-right-color: rgba(186, 188, 195, 0.3);
}

.timeline-info li {
    color: var(--text-secondary-color)
}

.timeline-info li:after {
    background: #79859f;
}

.timeline-done .timeline-title {
    color: #223b55;
}

.timeline-current .timeline-title {
    color: #223b55;
}

.timeline-row {
    position: relative;
}

.timeline-row:before {
    border-bottom-color: rgba(186, 188, 195, 0.3);
}

.timeline-row:after {
    border-color: rgba(186, 188, 195, 0.3);
}

.card-body {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.fa-linkedin {
    color: #2867b2;
}

.fa-twitter {
    color: #00a2f4;
}

.fab {
    padding: 0 .25rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.accordion-button {
    color: var(--text-darkgrey-color);
    font-weight: 700;
    padding: 1rem 0 !important;
}

.accordion-button:not(.collapsed) {
    color: var(--text-darkgrey-color) !important;
    font-weight: 700;
    background-color: var(--bg-grey);
}

.accordion-item {
    background-color: var(--bg-grey);
    border: 2px solid var(--border-card);
    padding: .5rem 0;
}

.accordion-body {
    padding: .5rem 0;
}

.bg--transparent {
    background-color: var(--bg-transparent);
}

.rounded-md-l {
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
}

.rounded-md-r {
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.form-control:focus {
    border-color: var(--border-card) !important;
    box-shadow: none !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #46bdf4;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #008eb0;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #005766;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
a {
    text-decoration: none !important;
}
.btn-align{
    text-align: right;
}
.align-join-community{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.btn-space{
    margin:0 0 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.5rem;
}
.mailer{
    color:#fff !important;
}
.shape-1::after {
    content: '';
    display: block;
    height: 900px;
    width: 1006px;
    background: url(../images/bg-banner.svg) no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: -18rem;
    right: -23rem;
    z-index: -1;
}